<div class="rounded-2 p-2 grid">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <fa-icon icon="home" class="nav-icon me-3"></fa-icon>
                <div>Home</div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center" routerLink="/search" routerLinkActive="active">
                <fa-icon icon="search" class="nav-icon me-3"></fa-icon>
                <div>Search</div>
            </a>
        </li>
    </ul>
</div>